h1{
    text-align: center;
}
.tips{
    padding-right: 1em;
    float:left;
}
.rates{
    position: relative;
    left: -450px;
    float:right;
}
.rates2{
    position: relative;
    left: -450px;
    padding-right: 0.6em;
    float:right;
}
footer#foot {
    bottom: 0;
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    border-top: 1px solid black;
    background-color:silver;
}


